desktop.ini

# State recovery files
~*

# Bonsai scripting and environment files
.vs
bin
obj
Packages
*.bin
*.avi
*.dll
*.exe
*.exe.settings
SessionSummary
Data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
winpython
Firmware/
src/archive/vrDemo.yml
src/archive/vrDemo_1.yml
src/archive/vrDemo.yml
src/Workflows/InsertionWorkflow/InsertionWorkflow.bonsai
src/Workflows/InsertionWorkflow/InsertionWorkflow.bonsai.layout
src/blockTypesDemo_main_experiment.yml
