desktop.ini

# State recovery files
~*

# Bonsai scripting and environment files
.vs
bin
obj
Packages
*.bin
*.avi
*.dll
*.exe
*.exe.settings
SessionSummary
Data/
temp_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
winpython
Firmware/

Python/vestibular-vr/.idea/

Python/vestibular-vr/test-images/

Python/vestibular-vr/test-movie/

bonsai/Bonsai.exe.WebView2/
