<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai" version="2.7.0" />
    <Package id="Bonsai.Core" version="2.7.0" />
    <Package id="Bonsai.Design" version="2.7.0" />
    <Package id="Bonsai.Design.Visualizers" version="2.7.0" />
    <Package id="Bonsai.Editor" version="2.7.0" />
    <Package id="Bonsai.Numerics" version="0.7.0" />
    <Package id="Bonsai.System" version="2.7.0" />
    <Package id="Bonsai.Windows.Input" version="2.7.0" />
    <Package id="MathNet.Numerics" version="4.5.1" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="3.2.0" />
    <Package id="YamlDotNet" version="12.0.2" />
    <Package id="ZedGraph" version="5.1.7" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Design.Visualizers" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
    <AssemblyReference assemblyName="Bonsai.Numerics" />
    <AssemblyReference assemblyName="Bonsai.System" />
    <AssemblyReference assemblyName="Bonsai.Windows.Input" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages\Bonsai.2.7.0\lib\net472\Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.7.0\lib\net462\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.7.0\lib\net462\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design.Visualizers" processorArchitecture="MSIL" location="Packages\Bonsai.Design.Visualizers.2.7.0\lib\net462\Bonsai.Design.Visualizers.dll" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages\Bonsai.Editor.2.7.0\lib\net472\Bonsai.Editor.dll" />
    <AssemblyLocation assemblyName="Bonsai.Numerics" processorArchitecture="MSIL" location="Packages\Bonsai.Numerics.0.7.0\lib\net462\Bonsai.Numerics.dll" />
    <AssemblyLocation assemblyName="Bonsai.System" processorArchitecture="MSIL" location="Packages\Bonsai.System.2.7.0\lib\net462\Bonsai.System.dll" />
    <AssemblyLocation assemblyName="Bonsai.Windows.Input" processorArchitecture="MSIL" location="Packages\Bonsai.Windows.Input.2.7.0\lib\net462\Bonsai.Windows.Input.dll" />
    <AssemblyLocation assemblyName="MathNet.Numerics" processorArchitecture="MSIL" location="Packages\MathNet.Numerics.4.5.1\lib\net461\MathNet.Numerics.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.3.2.0\lib\net461\SVG.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages\Rx-Core.2.2.5\lib\net45\System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages\Rx-Interfaces.2.2.5\lib\net45\System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages\Rx-Linq.2.2.5\lib\net45\System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages\Rx-PlatformServices.2.2.5\lib\net45\System.Reactive.PlatformServices.dll" />
    <AssemblyLocation assemblyName="YamlDotNet" processorArchitecture="MSIL" location="Packages\YamlDotNet.12.0.2\lib\net47\YamlDotNet.dll" />
    <AssemblyLocation assemblyName="ZedGraph" processorArchitecture="MSIL" location="Packages\ZedGraph.5.1.7\lib\net35-Client\ZedGraph.dll" />
  </AssemblyLocations>
  <LibraryFolders />
</PackageConfiguration>